[submodule "editorconfig-vim"]
	path = editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim-coffee-script"]
	path = vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim-haml"]
	path = vim-haml
	url = git@github.com:tpope/vim-haml.git
[submodule "vim-jade"]
	path = vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim-commentary"]
	path = vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim-sensible"]
	path = vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim-go"]
	path = vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "molokai"]
	path = molokai
	url = git@github.com:tomasr/molokai.git
[submodule "nerdtree"]
	path = nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "rainbow_parentheses.vim"]
	path = rainbow_parentheses.vim
	url = git@github.com:kien/rainbow_parentheses.vim.git
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim-airline"]
	path = vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "base16-vim"]
	path = base16-vim
	url = git@github.com:chriskempson/base16-vim.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = git@github.com:Lokaltog/powerline-fonts.git
